<html>
  <head>
    <title>Authorization request</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <form method="post" action="" role="form" class="form-signin">
        <h2 class="form-signin-heading">Authorise</h2>
        <div class="form-group">
          <div class="div">Hi <strong><%=username%></strong>! Do you authorise the application <strong><%=appname%></strong> to access to the scopes [<strong><%=scopes%></strong>] of you account?</div>
        </div>
        <div class="form-group">
          <input type="hidden" name="allow" value="yes"/>
          <input type="hidden" name="client_id" value="<%=client_id%>"/>
          <input type="hidden" name="redirect_uri" value="<%=redirect_uri%>"/>
          <input type="hidden" name="response_type" value="code"/>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Authorise</button>
        </div>
      </form>
    </div>
  </body>
</html>
